<style>
    .organizar{
        display: inline-block;
    }
    .file-upload{
	height:60px;
	width:60px;
	margin:0px;
    border:1px solid #111;
    border-radius:8px;
	overflow:hidden;
	position:relative;
    }
    .file-upload input{
        position:absolute;
        height:250px;
        width:545px;
        left:-200px;
        top:-200px;
        background:transparent;
        opacity:0;
        -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);  
    }
    .file-upload img{
        height:50px;
        width:50px;
        margin:4px;
    }
</style>

<div class="container mt-100 ">
    <div class="row">
        <div class="col-md-10 mx-auto">
            <h2>| Crea una Denuncia</h2>
            <div class="card mt-30">
                <div class="card-body">
                    <form id="myform" action="/reportes/add-denuncias" method="POST" enctype="multipart/form-data">
                        <div class="form-row">
                            <div class="col-lg-3 col-md-3">
                                <label for=""><b>Tipo de reporte:</b></label>
                                <div class="select-itms">
                                    <select name="tipo_denuncia_reportes" disabled="true" required>
                                        <option value="Denuncia" selected>Denuncia
                                        </option>
                                        <!-- <option value="Reporte">Reporte
                                        </option>
                                        <option value="PQR">PQR
                                        </option>-->
                                    </select>
                                    <div style="display: none;">
                                        <select name="tipo_denuncia_reportes" required>
                                            <option value="Denuncia" selected></option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <label for=""><span style="color: red;">* </span><b>Causa:</b></label>
                                <div class="form-group">
                                    <select name="evento_reportes" required>
                                        <option value="">Elegir Opción</option>
                                        <option value="Animales Maltratados">Animales Maltratados
                                        </option>
                                        <option value="Animales Abandonados">Animales Abandonados
                                        </option>
                                        <!-- <option value="Animales Encontrados">Animales Encontrados
                                        </option> -->
                                        <option value="Contravenciones, Conflictos y Ataques">Contravenciones,
                                            Conflictos y Ataques
                                        </option>
                                        <!--<option value="Animales heridos, graves accidentados">Animales heridos,
                                            graves accidentados
                                        </option>-->
                                    </select>
                                </div>
                            </div>
                            <div class="form-group col-md-5">
                                <label for=""><span style="color: red;">* </span><b>Dirección:</b></label>
                                <input type="text" class="form-control" name="ubicacion_reportes"
                                    placeholder="Lugar de los hechos" minlength="7" maxlength="30" required>
                            </div>
                        </div>

                        <div class="form-row mt-10">
                            <div class="form-group col-md-6">
                                <label for=""><span style="color: red;">* </span><b>Adjuntar Evidencia (PNG, JPEG, JPG):</b></label>
                                <div>
                                    <p style="font-size: smaller;"><strong>Pudes agregar hasta 5 imágenes como evidencia</strong></p>
                                </div>

                                        <div class="file-upload organizar">
            
                                            <img class="miniatura" src="/../img/Upload-Photo.png" />
                                            
                                            <input id="evidencia" class="mt-10" type="file" name="evidencia_reportes"  accept="image/*" required>

                                        </div>
                                        <div class="file-upload organizar">
            
                                            <img class="miniatura2" src="/../img/Upload-Photo.png" />
                                            
                                            <input id="evidencia2" class="mt-10" type="file" name="evidencia_reportes2"  accept="image/*">

                                        </div>
                                        <div class="file-upload organizar">
            
                                            <img class="miniatura3" src="/../img/Upload-Photo.png" />
                                            
                                            <input id="evidencia3" class="mt-10" type="file" name="evidencia_reportes3"  accept="image/*">

                                        </div>
                                        <div class="file-upload organizar">
            
                                            <img class="miniatura4" src="/../img/Upload-Photo.png" />
                                            
                                            <input id="evidencia4" class="mt-10" type="file" name="evidencia_reportes4"  accept="image/*">

                                        </div>
                                        <div class="file-upload organizar">
            
                                            <img class="miniatura5" src="/../img/Upload-Photo.png" />
                                            
                                            <input id="evidencia5" class="mt-10" type="file" name="evidencia_reportes5"  accept="image/*">

                                        </div>

                         
                            </div>
                            <div class="form-group col-md-6">
                                <label for=""><span style="color: red;">* </span><b>Adjuntar Formato de Denuncia:</b></label>
                                <p style="font-size: smaller;"><strong>IMPORTANTE:</strong> Debes descargar, diligenciar el <strong>Formato de Denuncia</strong> y adjuntarlo obligatoriamente:
                                <a href="https://firebasestorage.googleapis.com/v0/b/sian-97abc.appspot.com/o/Formato-Denuncia-Maltrato-Animal-Contravencion.docx?alt=media&token=b8cd59e4-97bc-4137-b3a9-790c8973f601"
                                    download="Formato Denuncia Maltrato Animal.docx"
                                    style="color: #1f2c7b; text-decoration: underline;"> Descargar Formato</a></p>
                                <input class="genric-btn radius" type="file" name="evidencia_formato"
                                    accept=".docx,application/msword" required>

                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for=""><span style="color: red;">* </span><b>Describe tu Denuncia:</b></label>
                                <textarea type="text" class="form-control" name="descripcion_reportes"
                                    placeholder="Descripción" rows="5" minlength="7" maxlength="240" required></textarea>
                                <p align="right"><i>Escribe hasta 240 caracteres</i></p>
                            </div>
                            
                        </div>
                        <div> <span style="color: red;">* Campos Obligatorios</span></div>
                        
                        <p class="mt-5" style="color: red;">Al dar click en "Enviar Denuncia" esta será publicada y no
                            podrá ser editada o
                            eliminada. Por favor asegúrese de que todo lo registrado sea verídico.</p>
                        <div class="form-group mt-10">
                            <button id="enviarFormulario" class="btn btn-success btn-block">Enviar Denuncia</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

        const fileInput = document.getElementById('evidencia');
        const fileInput2 = document.getElementById('evidencia2');
        const fileInput3 = document.getElementById('evidencia3');
        const fileInput4 = document.getElementById('evidencia4');
        const fileInput5 = document.getElementById('evidencia5');
        const img = document.querySelector('.miniatura');
        const img2 = document.querySelector('.miniatura2');
        const img3 = document.querySelector('.miniatura3');
        const img4 = document.querySelector('.miniatura4');
        const img5 = document.querySelector('.miniatura5');

        fileInput.onchange = () => {

            const file = fileInput.files[0];
            img.src = URL.createObjectURL(file);
            img.onload = () => {
                URL.revokeObjectURL(img.src);
            }
        }

        fileInput2.onchange = () => {

            const file = fileInput2.files[0];
            img2.src = URL.createObjectURL(file);
            img2.onload = () => {
                URL.revokeObjectURL(img2.src);
            }
        }

        fileInput3.onchange = () => {

            const file = fileInput3.files[0];
            img3.src = URL.createObjectURL(file);
            img3.onload = () => {
                URL.revokeObjectURL(img3.src);
            }
        }

        fileInput4.onchange = () => {

            const file = fileInput4.files[0];
            img4.src = URL.createObjectURL(file);
            img4.onload = () => {
                URL.revokeObjectURL(img4.src);
            }
        }

        fileInput5.onchange = () => {

            const file = fileInput5.files[0];
            img5.src = URL.createObjectURL(file);
            img5.onload = () => {
                URL.revokeObjectURL(img5.src);
            }
        }

</script>