<div class="container mt-80">
    <div class="row">
        <div class="col-md-10 mx-auto">
            <h2>| Crea un Reporte</h2>
            <div class="card mt-30">
                <div class="card-body">
                    <form id="myform" action="/reportes/add-reportes" method="POST" enctype="multipart/form-data" onsubmit="return enviar();">
                        <div class="form-row">
                            <div class="col-lg-2 col-md-2">
                                <label for=""><b>Tipo de reporte:</b></label>
                                <div class="select-itms">
                                    <select name="tipo_denuncia_reportes" disabled="true" required>
                                        <option value="Reporte" selected>Reporte
                                        </option>
                                        <!--<option value="Denuncia">Denuncia
                                        </option>
                                            <option value="PQR">PQR
                                        </option>-->
                                    </select>
                                    <div style="display: none;">
                                    <select name="tipo_denuncia_reportes" required>
                                        <option value="Reporte" selected></option>
                                    </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <label for=""><span style="color: red;">* </span><b>Causa:</b></label>
                                <div class="form-group">
                                    <select name="evento_reportes" required>

                                        <!--<option value="Animales Maltratados">Animales Maltratados
                                        </option>
                                        <option value="Animales Abandonados">Animales Abandonados
                                        </option>-->
                                        <!--<option value="Conflictos y ataques.">Contravenciones, Conflictos y Ataques
                                        </option>-->
                                        <option value="Animales heridos, graves accidentados" selected>Animales heridos,
                                            graves accidentados
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label for=""><span style="color: red;">* </span><b>Dirección:</b></label>
                                <input type="text" class="form-control" name="ubicacion_reportes"
                                    placeholder="Lugar de los hechos" minlength="7" maxlength="30" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for=""><span style="color: red;">* </span><b>Describen tu Reporte:</b></label>
                                <textarea type="text" class="form-control" name="descripcion_reportes"
                                    placeholder="Descripción" rows="5" minlength="7" maxlength="200" required></textarea>
                                <p align="right"><i>Escribe hasta 200 caracteres</i></p>
                            </div>
                            <div class="form-group col-md-6">
                                <label for=""><span style="color: red;">* </span><b>Adjuntar Registro Fotografico (PNG, JPEG, JPG):</b></label>
                                <div>
                                    <p style="font-size: smaller;">Debes subir<strong> 3 imágenes</strong> como soporte.</p>
                                </div>
                                <input type="file" class="genric-btn radius mt-10" multiple="true" accept="image/*"
                                    name="evidencia_reportes" multiple required>           
                                <p style="font-size: smaller;"><strong>Para cargar los 3 archivos debes presionar tecla "ctrl" y seleccionarlos.</strong></p>                   
                            </div>
                            <div class="form-group col-md-6">
                                <!-- <label for=""><b>Adjuntar Evidencia:</b></label>
                                <input class="genric-btn radius" type="file" multiple="true" accept="image/*"
                                    name="evidencia_reportes">
                                <div class="mt-10">
                                    <strong>* Subir máximo 4 imágenes como evidencia.</strong>
                                </div>-->
                            </div>
                        </div>
                        <div> <span style="color: red;">* Campos Obligatorios</span></div>
                        <p class="mt-5" style="color: red;">Al dar click en "Enviar Reporte" este será publicado y no
                            podrá ser editado o
                            eliminado. Por favor asegúrese de que todo lo registrado sea verídico.</p>
                        <div class="form-group mt-10">
                            <button class="btn btn-success btn-block">Enviar Reporte</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function(){
    $("button").click(function(){
        var formulario = document.getElementById("myform");
        var dato = formulario[0];
        var $fileUpload = $("input[type='file']");
        if (parseInt($fileUpload.get(0).files.length)>3){
            alert("Debes subir 3 archivos de evidencia");
            return false;
        } else if (parseInt($fileUpload.get(0).files.length)<3){
            alert("Debes subir 3 archivos de evidencia");
            return false;
        }else{
            formulario.submit();
            return true;
        }
    });    
});
</script>