<div class="container mt-100 ">
    <div class="row">
        <div class="col-md-10 mx-auto">
            <h2>| Crea una Denuncia</h2>
            <div class="card mt-30">
                <div class="card-body">
                    <form action="/reportes/add-denuncias" method="POST" enctype="multipart/form-data">
                        <div class="form-row">
                            <div class="col-lg-3 col-md-3">
                                <label for=""><b>Tipo de reporte:</b></label>
                                <div class="select-itms">
                                    <select name="tipo_denuncia_reportes" disabled="true" required>
                                        <option value="Denuncia" selected>Denuncia
                                        </option>
                                        <!-- <option value="Reporte">Reporte
                                        </option>
                                        <option value="PQR">PQR
                                        </option>-->
                                    </select>
                                    <div style="display: none;">
                                        <select name="tipo_denuncia_reportes" required>
                                            <option value="Denuncia" selected></option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <label for=""><span style="color: red;">* </span><b>Causa:</b></label>
                                <div class="form-group">
                                    <select name="evento_reportes" required>
                                        <option value="">Elegir Opción</option>
                                        <option value="Animales Maltratados">Animales Maltratados
                                        </option>
                                        <option value="Animales Abandonados">Animales Abandonados
                                        </option>
                                        <!-- <option value="Animales Encontrados">Animales Encontrados
                                        </option> -->
                                        <option value="Contravenciones, Conflictos y Ataques">Contravenciones,
                                            Conflictos y Ataques
                                        </option>
                                        <!--<option value="Animales heridos, graves accidentados">Animales heridos,
                                            graves accidentados
                                        </option>-->
                                    </select>
                                </div>
                            </div>
                            <div class="form-group col-md-5">
                                <label for=""><span style="color: red;">* </span><b>Dirección:</b></label>
                                <input type="text" class="form-control" name="ubicacion_reportes"
                                    placeholder="Lugar de los hechos" minlength="7" maxlength="30" required>
                            </div>
                        </div>

                        <div class="form-row mt-10">
                            <div class="form-group col-md-6">
                                <label for=""><span style="color: red;">* </span><b>Adjuntar Evidencia (PNG, JPEG, JPG, PDF):</b></label>
                                <div>
                                    <p style="font-size: smaller;">Subir
                                        obligatoriamente <strong>4 archivos</strong> como evidencia.</p>
                                </div>
                                <input class="genric-btn radius mt-10" type="file" multiple="true" accept="image/*"
                                    name="evidencia_reportes" required>                             
                            </div>
                            <div class="form-group col-md-6">
                                <label for=""><span style="color: red;">* </span><b>Adjuntar Formato de Denuncia:</b></label>
                                <p style="font-size: smaller;">IMPORTANTE: Debes descargar, diligenciar el <strong>Formato de Denuncia</strong> y adjuntarlo obligatoriamente:
                                <a href="https://firebasestorage.googleapis.com/v0/b/sian-97abc.appspot.com/o/Formato-Denuncia-Maltrato-Animal-Contravencion.docx?alt=media&token=b8cd59e4-97bc-4137-b3a9-790c8973f601"
                                    download="Formato Denuncia Maltrato Animal.docx"
                                    style="color: #1f2c7b; text-decoration: underline;"> Descargar Formato</a></p>
                                <input class="genric-btn radius" type="file" name="evidencia_formato"
                                    accept=".docx,application/msword" required>

                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for=""><span style="color: red;">* </span><b>Describe tu Denuncia:</b></label>
                                <textarea type="text" class="form-control" name="descripcion_reportes"
                                    placeholder="Descripción" rows="5" minlength="7" maxlength="240" required></textarea>
                                <p align="right"><i>Escribe hasta 240 caracteres</i></p>
                            </div>
                            
                        </div>
                        <div> <span style="color: red;">* Campos Obligatorios</span></div>
                        
                        <p class="mt-5" style="color: red;">Al dar click en "Enviar Denuncia" esta será publicada y no
                            podrá ser editada o
                            eliminada. Por favor asegúrese de que todo lo registrado sea verídico.</p>
                        <div class="form-group mt-10">
                            <button class="btn btn-success btn-block">Enviar Denuncia</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>