<div class="container mt-80">
    <div class="row">
        <div class="col-md-10 mx-auto">
            <h2>| Publica tu Mascota: Extraviada, Hurtada o Hallada.</h2>
            <div class="card mt-20">
                <div class="card-body">
                    <form action="/busca/add-extraviado" method="POST" enctype="multipart/form-data">
                        <div class="form-row">
                            <div class="col-lg-4 col-md-4">
                                <label for=""><span style="color: red;"><strong>* </strong></span><b>Foto de Mascota Extraviada:</b></label>
                                <input class="genric-btn radius" type="file" name="foto_seBusca" accept="image/*"
                                    required>
                            </div>
                            <div class="col-lg-3 col-md-3">
                                <label for=""><span style="color: red;"><strong>* </strong></span><b>Tipo de Busqueda:</b></label>
                                <div class="form-group">
                                    <select name="tipo_seBusca" required>
                                        <option value="Animales Extraviados">Animales Extraviados
                                        </option>
                                        <option value="Animales Hurtados">Animales Hurtados
                                        </option>
                                        <option value="Animales Hallados">Animales Hallados
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3">
                                <label for=""><span style="color: red;"><strong>* </strong></span><b>Raza de tu Mascota:</b></label>
                                <div class="form-group">
                                    <input type="text" id="otraInput" class="form-control" name="raza_seBusca" placeholder="Escribe la raza" autofocus>
                                    <div id="desaparecerSelect"> 
                                        <select id="raza" onchange="razasLista()" name="raza_seBusca" required>
                                            <option value="">Elegir Raza</option>
                                            <option value="desconocida">No se conoce</option>
                                            <option value="siamés">siamés</option>
                                            <option value="somalí">somalí</option>
                                            <option value="Ragdoll">Ragdoll</option>
                                            <option value="Persa">Persa</option>
                                            <option value="Maine Coon">Maine Coon</option>
                                            <option value="Común Europeo">Común Europeo</option>
                                            <option value="Ruso Azul">Ruso Azul</option>
                                            <option value="Bobtail americano">Bobtail americano</option>
                                            <option value="Siberiano">Siberiano</option>
                                            <option value="Manés">Manés</option>
                                            <option value="Birmano o Burmés">Birmano o Burmés</option>
                                            {{#each raza}}
                                            <option value="{{this}}">{{this}}</option>
                                            {{/each}}
                                            <option value="Otra">Otra</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2">
                                <label for=""><span style="color: red;"><strong>* </strong></span><b>Edad de Mascota:</b></label>
                                <input type="text" id="edadMascotaVali" class="form-control" name="edad_seBusca"
                                    placeholder="2 años" minlength="4" maxlength="8" required>
                            </div>
                        </div>
                        <div class="form-row mt-10 ">
                            <div class="form-group col-md-6">
                                <label for="inputEmail4"><span style="color: red;"><strong>* </strong></span><b>Nombre:</b></label>
                                <input type="text" id="myminNombre" class="form-control" name="nombre_seBusca"
                                    placeholder="Nombre de la Mascota Extraviada" minlength="3" maxlength="30" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for=""><span style="color: red;"><strong>* </strong></span><b>Lugar Donde se Extravió:</b></label>
                                <input type="text" class="form-control" name="ubicacion_seBusca"
                                    placeholder="Lugar donde se vió la ultima vez" minlength="7" maxlength="30" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for=""><span style="color: red;"><strong>* </strong></span><b>Características Físicas:</b></label>
                                <textarea type="text" class="form-control" rows="4" name="caracteristica_seBusca"
                                    placeholder="Caracteristicas Fisicas de la Mascota" minlength="7"  maxlength="100"
                                    required></textarea>
                                <p align="right"><i>Escribe hasta 100 caracteres</i></p>
                            </div>
                            <div class="form-group col-md-6">
                                <label for=""><b>Número de Contacto (Fijo o Celular):</b></label>
                                <input type="text" id="telefono" class="form-control" name="telefono_seBusca"
                                    placeholder="Teléfono" minlength="7" maxlength="13" >
                                <label for=""><b>¿Ofreces recompensa? En caso de mascota extraviada:</b></label>
                                <input type="text" id="recompensa" class="form-control" name="recompensa_seBusca"
                                    placeholder="$200.000" minlength="4" maxlength="7">
                            </div>
                        </div>

                        <div class="mt-5"> <span style="color: red;">* Campos Obligatorios</span></div>

                        <div class="form-group mt-30">
                            <button class="btn btn-success btn-block">
                                Publicar Mascota Extraviada
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

var otraInput = document.getElementById('otraInput');
var desaparecerSelect = document.getElementById('desaparecerSelect');

    function otra(){
    otraInput.style.display ='none';
    otraInput.disabled="true";
}
otra();
function razasLista() {

    var tomaLista = document.getElementById('raza').value;
    if (tomaLista === "Otra") {
        otraInput.style.display ='block';
        desaparecerSelect.style.display ='none';
        document.getElementById('raza').disabled="true";
        otraInput.removeAttribute('disabled');
        
    }

}

</script>