<div class="footer-area footer-padding">
    <div class="container">
        <div class="row d-flex justify-content-between">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                <div class="single-footer-caption mb-50">
                    <div class="single-footer-caption mb-30">
                        <!-- logo -->
                        <div class="footer-logo mb-25">
                            <a href="/"><img src="/../img/Logo_Feo.png" style="width: 80%;" alt="SIAN"></a>
                        </div>
                        <div class="footer-tittle">
                            <div class="footer-pera">
                                <p>En SIAN Registra a tus mascotas, envia
                                    reportes y denuncias para protegerlas.</p>
                            </div>
                        </div>
                        <!-- social -->
                        <div class="footer-social">
                            <a href="#"><i class="fab fa-facebook-square"></i></a>
                            <a href="#"><i class="fab fa-twitter-square"></i></a>
                            <a href="#"><i class="fab fa-linkedin"></i></a>
                            <a href="#"><i class="fab fa-youtube-square"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-4 col-sm-5">
                <div class="single-footer-caption mb-50">
                    <div class="footer-tittle">
                        <h4>Sistema</h4>
                        <ul>
                            <li><a href="/">Inicio</a></li>
                            <li><a href="/#servicios">Servicios</a></li>
                            <li><a href="/contacto"> Contáctanos</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-7">
                <div class="single-footer-caption mb-50">
                    <div class="footer-tittle">
                        <h4>Servicios</h4>
                        <ul>
                            <li><a href="/mascotas">Mis Mascotas</a></li>
                            <li><a href="/reportes">Mis Reportes</a></li>
                            <li><a href="/busca">Se Busca</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                <div class="single-footer-caption mb-50">
                    <div class="footer-tittle">
                        <h4>Ponte en Contacto</h4>
                        <ul>
                            <li><a href="#">+57 315 3234255</a></li>
                            <li><a href="#">notificaciones@sian.asoayudame.org</a></li>
                            <li><a href="#">Neiva, Huila</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer-bottom-area">
    <div class="container">
        <div class="footer-border">
            <div class="row d-flex align-items-center">
                <div class="col-xl-12 ">
                    <div class="footer-copy-right text-center">
                        <p>

                            Copyright SIAN &copy;
                            <script>document.write(new Date().getFullYear());</script> Todos los derechos reservados |
                            Hecho con
                            <i class="fa fa-heart" aria-hidden="true"></i> por <a href="#" target="_blank">UDS USCO, Duvan Carvajal, Daniel Garcia, Cristian Arevalo, Daniel Cordoba</a>

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>